In [1]:
import pandas as pd
import nltk

# Tokenization

In [3]:
wisdom = "To be or not to be, once said a bee. The bee wanted to be, but she remained just a bee"

In [4]:
print(wisdom)

To be or not to be, once said a bee. The bee wanted to be, but she remained just a bee

In [5]:
wisdom.split()

['To',
 'be',
 'or',
 'not',
 'to',
 'be,',
 'once',
 'said',
 'a',
 'bee.',
 'The',
 'bee',
 'wanted',
 'to',
 'be,',
 'but',
 'she',
 'remained',
 'just',
 'a',
 'bee']

In [6]:
nltk.word_tokenize(wisdom)

['To',
 'be',
 'or',
 'not',
 'to',
 'be',
 ',',
 'once',
 'said',
 'a',
 'bee',
 '.',
 'The',
 'bee',
 'wanted',
 'to',
 'be',
 ',',
 'but',
 'she',
 'remained',
 'just',
 'a',
 'bee']

# Stop words

In [7]:
from nltk.corpus import stopwords

In [8]:
english = stopwords.words('english')

In [10]:
words = nltk.word_tokenize(wisdom)

In [11]:
[word for word in words if word.lower() not in english]

[',', 'said', 'bee', '.', 'bee', 'wanted', ',', 'remained', 'bee']

# Use the same technique to create a better summary for the first five earning calls

In [2]:
data = pd.read_csv('../data/EC2000.csv.gz')

1- drop first column index, rename fName to company, drop the last three columns

In [15]:
data2 = data.drop('index', axis='columns')

In [16]:
data3 = data2.rename({'fName':'company'}, axis='columns')

In [17]:
last_three_cols = data3.columns[-3:]

In [19]:
data4 = data3.drop(last_three_cols, axis='columns')

In [20]:
data4.head()

,id,text,date,company,sector
0,32934,"Zoe's Kitchen, Inc. (NYSE:ZOES)\nQ2 2015 Earni...",2015-08-28 00:11:00,"Zoe's Kitchen, Inc.",Consumer Services
1,32905,"Autodesk, Inc. (NASDAQ:ADSK)\nQ2 2016 Earnings...",2015-08-28 00:07:00,"Autodesk, Inc.",Technology
2,32926,Smith & Wesson Holding Corp. (NASDAQ:SWHC)\nQ1...,2015-08-27 23:25:00,Smith & Wesson Holding Corporation,Capital Goods
3,32930,"Ulta Salon, Cosmetics & Fragrance, Inc. (NASDA...",2015-08-27 23:09:00,"Ulta Salon, Cosmetics & Fragrance, Inc.",Consumer Services
4,32907,Splunk Inc. (NASDAQ:SPLK)\nQ2 2016 Earnings Co...,2015-08-27 22:56:00,Splunk Inc.,Technology