_The following excercises are adapted from Kevin Sheppard's Introduction to Python for Econometrics, Statistics and Data Analysis_

1- Enter the following into Python, assigning each to a unique variable name:
- 4
- 3.1415
- 1.0
- 2+4j 
- 'Hello'
- 'World'

In [1]:
a = 4
b = 3.1415
c = 1.0
d = 2 + 4j
e = 'Hello'
f = 'World'

2- What is the type of each variable? Use _type_ if you aren’t sure.

In [2]:
type(a)

int

In [3]:
type(b)

float

In [4]:
type(c)

float

In [5]:
type(d)

complex

In [6]:
type(e)

str

In [7]:
type(f)

str

3- Which of the 6 types can be:
- Added +
- Subtracted -
- Multiplies *
- Divided /

In [8]:
a + b / c - d

(5.141500000000001-4j)

In [9]:
e + a

TypeError: can only concatenate str (not "int") to str

In [10]:
e + f

'HelloWorld'

In [11]:
e + str(a)

'Hello4'

In [12]:
a * e

'HelloHelloHelloHello'

In [14]:
students = 15

In [15]:
class_name = "Advanced data analytics"

In [17]:
print("There are", students, "students in", class_name)

There are 15 students in Advanced data analytics

In [19]:
print("There are " + str(students) + " students in " + class_name)

There are 15 students in Advanced data analytics

In [20]:
print(f"There are {students} students in {class_name}")

There are 15 students in Advanced data analytics

4- What are the types of the output (when an error is not produced) in the above operations?

5- Input the variable _ex = 'Python is an interesting and useful language for numerical computing!'_. Using slicing, extract:
- Python
- !
- computing
- in
- !gnitupmoc laciremun rof egaugnal lufesu dna gnitseretni na si nohtyP' (Reversed)
- nohtyP
- Pto sa neetn n sfllnug o ueia optn!

6- What are the direct 2 methods to construct a tuple that has only a single item? How many ways are there to construct a list with a single item?

7- Construct a nested list to hold the matrix

  1  .5   
  .5 1

so that item[i][j] corresponds to the position in the matrix (Remember that Python uses 0 indexing).

11- Initialize a list containing 4, 3.1415, 1.0, 2+4j, 'Hello', 'World'. How could you:
- Delete 1.0 if you knew its position? What if you didn’t know its position?
- How can the list [1.0, 2+4j, 'Hello'] be added to the existing list?
- How can the list be reversed?
- In the extended list, how can you count the occurrence of 'Hello'?

12- Construct a dictionary with the keyword-value pairs: 'alpha' and 1.0, 'beta' and 3.1415,  'gamma' and -99. How can the value of alpha be retrieved?

13- Convert the final list at the end of problem 11 to a set. How is the set different from the list?