The goal of this exercise is to use all the concepts we learned in the warm-up sessions.

We have data about Internet companies. The data is organized in a dictionary, each key corresponds to a column in the [spreadsheet](./data/InternetCompanies.csv) 

- Compute mean market capitalization
- Compute mean cash
- Compute the cash to revenue ratio with two decimal places in descending order

In [1]:
data = {
 'Company': ['Apple',
             'Google/Alphabet',
             'Amazon',
             'Facebook',
             'Tencent',
             'Alibaba',
             'Priceline Group',
             'Uber',
             'Baidu',
             'Ant Financial',
             'Salesforce',
             'Xiaomi',
             'Paypal',
             'Netflix',
             'Yahoo',
             'JD.com',
             'eBay',
             'Airbnb',
             'Yahoo Japan',
             'Didi Kuaidi'],
 'Country': ['USA',
             'USA',
             'USA',
             'USA',
             'China',
             'China',
             'USA',
             'USA',
             'China',
             'China',
             'USA',
             'China',
             'USA',
             'USA',
             'USA',
             'China',
             'USA',
             'USA',
             'Japan',
             'China'],
 'MarketCap': [' $547 ',
               ' $510 ',
               ' $341 ',
               ' $340 ',
               ' $206 ',
               ' $205 ',
               ' $63 ',
               ' $63 ',
               ' $62 ',
               ' $60 ',
               ' $57 ',
               ' $46 ',
               ' $46 ',
               ' $44 ',
               ' $36 ',
               ' $34 ',
               ' $28 ',
               ' $26 ',
               ' $26 ',
               ' $25 '],
 'Revenue': [' $235 ',
             ' $75 ',
             ' $107 ',
             ' $18 ',
             ' $16 ',
             ' $15 ',
             ' $9 ',
             ' $-   ',
             ' $10 ',
             ' $-   ',
             ' $7 ',
             ' $-   ',
             ' $9 ',
             ' $7 ',
             ' $5 ',
             ' $28 ',
             ' $9 ',
             ' $-   ',
             ' $5 ',
             ' $-   '],
    'Cash': [' $233 ',
              ' $79 ',
              ' $16 ',
              ' $21 ',
              ' $14 ',
              ' $18 ',
              ' $11 ',
              ' $-   ',
              ' $11 ',
              ' $-   ',
              ' $4 ',
              ' $-   ',
              ' $6 ',
              ' $2 ',
              ' $10 ',
              ' $5 ',
              ' $11 ',
              ' $-   ',
              ' $5 ',
              ' $-   ']
}

In [6]:
marketcap = data['MarketCap']

In [7]:
marketcap

[' $547 ',
 ' $510 ',
 ' $341 ',
 ' $340 ',
 ' $206 ',
 ' $205 ',
 ' $63 ',
 ' $63 ',
 ' $62 ',
 ' $60 ',
 ' $57 ',
 ' $46 ',
 ' $46 ',
 ' $44 ',
 ' $36 ',
 ' $34 ',
 ' $28 ',
 ' $26 ',
 ' $26 ',
 ' $25 ']

In [33]:
value = marketcap[0]

In [34]:
value

' $547 '

In [37]:
nv = value.strip()

In [38]:
nv

'$547'

In [41]:
nv[1:]

'547'

In [36]:
value.strip?

In [17]:
value.strip().strip('$')

'547'

In [19]:
value.strip()[1:]

'547'

In [20]:
value.strip().replace('$', '')

'547'

In [21]:
float(value.strip()[1:])

547.0

In [25]:
marketcap_values_l = []
for value in marketcap:
    new_value = 1000000 * float(value.strip()[1:])
    marketcap_values_l.append(new_value)

In [24]:
marketcap_values = [1000000 * float(value.strip()[1:]) for value in marketcap]

In [26]:
marketcap_values_l == marketcap_values

True

In [27]:
mean_market_value = sum(marketcap_values) / len(marketcap_values)

In [28]:
mean_market_value

138250000.0

In [31]:
import numpy as np

In [32]:
np.mean(mean_market_value)

138250000.0