In [1]:
L = [ 1, 2, 'three']

In [2]:
L

[1, 2, 'three']

In [3]:
L[0]

1

In [5]:
L[-1]

'three'

In [6]:
D = {'Mon':'pandas', 'Tue':'Python', 'Wed':100}

In [7]:
D

{'Mon': 'pandas', 'Tue': 'Python', 'Wed': 100}

In [8]:
D.keys()

dict_keys(['Mon', 'Tue', 'Wed'])

In [9]:
D.values()

dict_values(['pandas', 'Python', 100])

In [10]:
D['Mon']

'pandas'

In [11]:
L1 = [1,2,3]

In [12]:
L2 = [4,5,6]

In [13]:
L1 + L2

[1, 2, 3, 4, 5, 6]

In [14]:
L3 = [3, 3, 4, 4, 3, 2, 1]

In [15]:
set(L3)

{1, 2, 3, 4}

In [17]:
import pandas as pd

In [18]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [19]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [20]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [21]:
data[1]

0.5

In [22]:
data[1] = 2.0

In [23]:
data

0    0.25
1    2.00
2    0.75
3    1.00
dtype: float64

In [24]:
data[1:3]

1    2.00
2    0.75
dtype: float64

In [31]:
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [26]:
data['a']

0.25

In [27]:
data['b']=2.0

In [28]:
data

a    0.25
b    2.00
c    0.75
d    1.00
dtype: float64

In [29]:
data['a':'c']

a    0.25
b    2.00
c    0.75
dtype: float64

In [36]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                 index=[2, 3, 5, 7])
data

2    0.25
3    0.50
5    0.75
7    1.00
dtype: float64

In [37]:
data[2]

0.25

In [43]:
data[2:5]

5    0.75
7    1.00
dtype: float64

In [40]:
data.iloc[2]

0.75

In [41]:
data.loc[2]

0.25

In [44]:
population_dict = {'California': 38332521,
                   'Texas': 26448193,
                   'New York': 19651127,
                   'Florida': 19552860,
                   'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [47]:
p=population['California']

In [46]:
population['California':'Florida']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
dtype: int64

In [52]:
f"{p:,d}"

'38,332,521'

In [53]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [59]:
population[['Texas', 'Florida']] #fancy indexing

Texas      26448193
Florida    19552860
dtype: int64

In [61]:
population[(population > 30000000) | (population < 20000000)] #or

California    38332521
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [63]:
pop2 = population / 1000000

In [64]:
pop2

California    38.332521
Texas         26.448193
New York      19.651127
Florida       19.552860
Illinois      12.882135
dtype: float64

In [65]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
             'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [66]:
population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [67]:
states = pd.DataFrame({'population': population,
                       'area': area})
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [72]:
courses=pd.DataFrame([{'Students':40, 'Location':'C101'}, {'Students':15, 'Location':'C101'}], index=[4600, 6380])
courses

     Location  Students
4600     C101        40
6380     C101        15

In [73]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [74]:
states.columns

Index(['population', 'area'], dtype='object')

In [75]:
states

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [76]:
states.iloc[ :3, -1]

California    423967
Texas         695662
New York      141297
Name: area, dtype: int64

In [77]:
states.iloc[-1, -1]

149995

In [78]:
states.loc['Illinois', 'area']

149995

In [83]:
states.loc['Illinois', :]

population    12882135
area            149995
Name: Illinois, dtype: int64

In [82]:
states.loc[:, 'area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [84]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [88]:
states[['population', 'area']]

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [89]:
states.population

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [90]:
states.area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [93]:
states['population']=states['population'] / 1000000

In [94]:
states

            population    area
California   38.332521  423967
Texas        26.448193  695662
New York     19.651127  141297
Florida      19.552860  170312
Illinois     12.882135  149995

In [95]:
states['density'] = states['population'] * 1000000 / states['area']

In [96]:
states

            population    area     density
California   38.332521  423967   90.413926
Texas        26.448193  695662   38.018740
New York     19.651127  141297  139.076746
Florida      19.552860  170312  114.806121
Illinois     12.882135  149995   85.883763

In [98]:
tot_pop=states.sum()['population']

In [99]:
tot_pop

116.866836

In [103]:
states['pop %'] = states['population'] / tot_pop * 100

In [104]:
states

            population    area     density      pop %
California   38.332521  423967   90.413926  32.800170
Texas        26.448193  695662   38.018740  22.631051
New York     19.651127  141297  139.076746  16.814973
Florida      19.552860  170312  114.806121  16.730888
Illinois     12.882135  149995   85.883763  11.022918

In [106]:
states[states.density > 100]

          population    area     density      pop %
New York   19.651127  141297  139.076746  16.814973
Florida    19.552860  170312  114.806121  16.730888