1- load the gapminder data

In [2]:
import pandas as pd
data = pd.read_csv("../data/gapminder.tsv", sep='\t')

In [3]:
data.head()

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106

2- What's the average life expectancy

In [5]:
x = data['lifeExp']
sum(x) / len(x)

59.47443936619713

In [6]:
data['lifeExp'].mean()

59.47443936619713

3- what's the average lifeExp in Afghanistan?

In [11]:
data[data.country=='Afghanistan']['lifeExp'].mean()

37.478833333333334

4- what's the average lifeExp per country?

In [14]:
countries = set(data.country)

In [21]:
res = {}
for c in countries:
    res[c] = data[data.country==c]['lifeExp'].mean()
res

{'Bolivia': 52.50458333333333,
 'Comoros': 52.381750000000004,
 'Singapore': 71.22025,
 'Hungary': 69.39316666666666,
 'Myanmar': 53.321666666666665,
 'Greece': 73.73316666666666,
 'Guatemala': 56.72941666666666,
 'Italy': 74.01383333333332,
 'Jordan': 59.78641666666666,
 'Botswana': 54.5975,
 'Korea, Rep.': 65.001,
 'Slovenia': 71.60074999999999,
 'Mongolia': 55.89033333333333,
 'Somalia': 40.98866666666667,
 'Portugal': 70.41983333333333,
 'Lebanon': 65.86566666666666,
 'Jamaica': 68.74933333333333,
 'Niger': 44.55866666666666,
 'Djibouti': 46.38075,
 'Equatorial Guinea': 42.96,
 'New Zealand': 73.9895,
 'Burundi': 44.81733333333333,
 'Brazil': 62.23949999999999,
 'South Africa': 53.99316666666666,
 'Rwanda': 41.48158333333333,
 'Zambia': 45.99633333333333,
 'Syria': 61.34616666666667,
 'Mauritius': 64.95325000000001,
 'Mali': 43.4135,
 'Venezuela': 66.58066666666666,
 'Sao Tome and Principe': 57.89633333333334,
 'Cuba': 71.04508333333335,
 'Haiti': 50.16525000000001,
 'Pakistan': 54.88225,
 'Senegal': 50.625916666666676,
 'Tunisia': 60.721000000000004,
 'Poland': 70.17691666666666,
 'Bulgaria': 69.74374999999999,
 'Serbia': 68.55099999999999,
 'Switzerland': 75.56508333333333,
 'Guinea': 43.23983333333334,
 'Cameroon': 48.1285,
 'Canada': 74.90275,
 'Malawi': 43.35158333333334,
 'Uruguay': 70.78158333333333,
 'Spain': 74.20341666666667,
 'Indonesia': 54.33574999999999,
 'Nicaragua': 58.34941666666666,
 'Angola': 37.883500000000005,
 'Lesotho': 50.00708333333333,
 'Panama': 67.80174999999998,
 'Ecuador': 62.816833333333335,
 'Central African Republic': 43.86691666666667,
 'Czech Republic': 71.5105,
 'Egypt': 56.242999999999995,
 'Namibia': 53.49133333333333,
 'Costa Rica': 70.18141666666666,
 'Zimbabwe': 52.66316666666666,
 'France': 74.34891666666668,
 'United States': 73.4785,
 'Benin': 48.77991666666666,
 'Australia': 74.66291666666667,
 'Norway': 75.84299999999999,
 'Kuwait': 68.92233333333333,
 'Togo': 51.49875,
 'Kenya': 52.681000000000004,
 'Uganda': 47.618833333333335,
 'El Salvador': 59.63333333333333,
 'Montenegro': 70.29916666666666,
 'Reunion': 66.64425000000001,
 'Afghanistan': 37.478833333333334,
 'Iceland': 76.51141666666666,
 'Ghana': 52.34066666666667,
 'Eritrea': 45.999249999999996,
 'Yemen, Rep.': 46.78041666666667,
 'Gambia': 44.40058333333332,
 'Philippines': 60.96725,
 'Cambodia': 47.90275,
 'United Kingdom': 73.92258333333332,
 'Honduras': 57.92083333333334,
 'Libya': 59.30416666666667,
 'Madagascar': 47.77058333333334,
 'Malaysia': 64.27958333333332,
 'Nigeria': 43.58133333333333,
 'Chile': 67.43091666666668,
 'Bangladesh': 49.83408333333333,
 'Hong Kong, China': 73.49283333333334,
 'Paraguay': 66.80908333333333,
 'Iraq': 56.58175,
 'Peru': 58.859333333333346,
 'Sweden': 76.177,
 'Morocco': 57.60883333333333,
 'Colombia': 63.89775,
 'Taiwan': 70.33666666666666,
 'China': 61.785140000000006,
 'Bahrain': 65.60566666666666,
 'Thailand': 62.20024999999999,
 'Liberia': 42.47625,
 'Netherlands': 75.6485,
 'Chad': 46.77358333333333,
 'Korea, Dem. Rep.': 63.60733333333334,
 'Croatia': 70.05591666666668,
 'Romania': 68.29066666666667,
 'Swaziland': 49.00241666666667,
 'Denmark': 74.37016666666668,
 'Saudi Arabia': 58.67875000000001,
 'Mauritania': 52.302083333333336,
 'Sri Lanka': 66.52608333333332,
 'Tanzania': 47.91233333333334,
 'Belgium': 73.64175,
 'Ireland': 73.01725,
 'Sudan': 48.4005,
 'Oman': 58.44266666666667,
 'Burkina Faso': 44.693999999999996,
 'Dominican Republic': 61.5545,
 'Gabon': 51.22050000000001,
 'Ethiopia': 44.47575,
 'Albania': 68.43291666666669,
 "Cote d'Ivoire": 48.43616666666666,
 'Germany': 73.44441666666665,
 'Turkey': 59.69641666666667,
 'Vietnam': 57.479499999999994,
 'Trinidad and Tobago': 66.828,
 'West Bank and Gaza': 60.32866666666667,
 'Guinea-Bissau': 39.21025,
 'Slovak Republic': 70.69608333333333,
 'Congo, Dem. Rep.': 44.543749999999996,
 'Argentina': 69.06041666666665,
 'Nepal': 48.98633333333333,
 'Sierra Leone': 36.76916666666667,
 'Japan': 74.82691666666666,
 'Austria': 73.10324999999999,
 'Congo, Rep.': 52.501916666666666,
 'Finland': 72.99191666666667,
 'Israel': 73.64583333333333,
 'Algeria': 59.03016666666667,
 'Iran': 58.63658333333334,
 'Puerto Rico': 72.73933333333333,
 'Mexico': 65.40883333333333,
 'Bosnia and Herzegovina': 67.70783333333334,
 'India': 53.166083333333326,
 'Mozambique': 40.3795}

In [19]:
pd.Series({x:data[data.country==x]['lifeExp'].mean() for x in countries }).sort_index()

Afghanistan                 37.478833
Albania                     68.432917
Algeria                     59.030167
Angola                      37.883500
Argentina                   69.060417
Australia                   74.662917
Austria                     73.103250
Bahrain                     65.605667
Bangladesh                  49.834083
Belgium                     73.641750
Benin                       48.779917
Bolivia                     52.504583
Bosnia and Herzegovina      67.707833
Botswana                    54.597500
Brazil                      62.239500
Bulgaria                    69.743750
Burkina Faso                44.694000
Burundi                     44.817333
Cambodia                    47.902750
Cameroon                    48.128500
Canada                      74.902750
Central African Republic    43.866917
Chad                        46.773583
Chile                       67.430917
China                       61.785140
Colombia                    63.897750
Comoros                     52.381750
Congo, Dem. Rep.            44.543750
Congo, Rep.                 52.501917
Costa Rica                  70.181417
                              ...
Sierra Leone                36.769167
Singapore                   71.220250
Slovak Republic             70.696083
Slovenia                    71.600750
Somalia                     40.988667
South Africa                53.993167
Spain                       74.203417
Sri Lanka                   66.526083
Sudan                       48.400500
Swaziland                   49.002417
Sweden                      76.177000
Switzerland                 75.565083
Syria                       61.346167
Taiwan                      70.336667
Tanzania                    47.912333
Thailand                    62.200250
Togo                        51.498750
Trinidad and Tobago         66.828000
Tunisia                     60.721000
Turkey                      59.696417
Uganda                      47.618833
United Kingdom              73.922583
United States               73.478500
Uruguay                     70.781583
Venezuela                   66.580667
Vietnam                     57.479500
West Bank and Gaza          60.328667
Yemen, Rep.                 46.780417
Zambia                      45.996333
Zimbabwe                    52.663167
Length: 142, dtype: float64

In [22]:
data_to_export=data.groupby('country')['lifeExp'].mean()

5- Export this data to a csv file ```life.csv```

In [23]:
data_to_export.to_csv('life_exp.csv')

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The signature of `Series.to_csv` was aligned to that of `DataFrame.to_csv`, and argument 'header' will change its default value from False to True: please pass an explicit value to suppress this warning.
  """Entry point for launching an IPython kernel.