In [31]:
import pandas as pd
import numpy as np

Download the EY DuPont Excel Spreadsheet from eLC `Analytics_mindset_case_studies_DuPont`

Load the spreadsheet into pandas

In [4]:
data =data1 = pd.read_excel('Analytics_mindset_case_studies_DuPont.xls', sheet_name='Balance Sheet Data')

In [3]:
data1.shape

(523, 33)

In [4]:
data1.dtypes

Ticker                                  object
Name                                    object
Industry                                object
Year                                     int64
Financial Statement                     object
Cash                                   float64
Short Term Investment Cash             float64
Cash & Short Term Investments          float64
Accounts Receivables                   float64
Inventories                            float64
Other Current Assets                   float64
Total Current Assets                   float64
Gross Property, Plant and Equipment    float64
Total Depreciation                     float64
Intangible Assets                      float64
Total Other Assets                     float64
Total Assets                             int64
Accounts Payable                         int64
Short Term Debt                        float64
Accrued Expenses (Liability)           float64
Other Current Liabilities                int64
Other Liabilities                      float64
Long Term Debt                           int64
Deferred Taxes (Liability)               int64
Other Liabilities.1                      int64
Total Liabilities                        int64
Minority Interest (Equity)               int64
Preferred Stock (Equity)                 int64
Common Equity                            int64
Total Shareholder Equity                 int64
Common Shares Outstanding              float64
Prepaid Expenses                       float64
Cash Due From Banks (Asset)              int64
dtype: object

In [5]:
data1.head()

,Ticker,Name,Industry,Year,Financial Statement,Cash,Short Term Investment Cash,Cash & Short Term Investments,Accounts Receivables,Inventories,...,Deferred Taxes (Liability),Other Liabilities.1,Total Liabilities,Minority Interest (Equity),Preferred Stock (Equity),Common Equity,Total Shareholder Equity,Common Shares Outstanding,Prepaid Expenses,Cash Due From Banks (Asset)
0,AAL,American Airlines Group Inc.,Transportation,2013,Balance Sheet,2.200000e+09,6.600000e+08,1.030000e+10,1.600000e+09,1.000000e+09,...,0,5300000000,45000000000,0,0,-2700000000,-2700000000,2.611000e+08,0.0,0
1,AAL,American Airlines Group Inc.,Transportation,2014,Balance Sheet,2.700000e+09,-1.460000e+08,8.100000e+09,1.800000e+09,1.000000e+09,...,0,3400000000,41800000000,0,0,2000000000,2000000000,6.975000e+08,0.0,0
2,AAL,American Airlines Group Inc.,Transportation,2015,Balance Sheet,2.100000e+09,-6.830000e+08,6.900000e+09,1.400000e+09,8.630000e+08,...,-2500000000,2500000000,42800000000,0,0,5600000000,5600000000,6.246000e+08,0.0,0
3,AAPL,Apple Inc.,Technology,2013,Balance Sheet,8.700000e+09,3.500000e+09,4.050000e+10,2.060000e+10,1.800000e+09,...,-16500000000,3700000000,83500000000,0,0,123500000000,123500000000,6.300000e+09,NaN,0
4,AAPL,Apple Inc.,Technology,2014,Balance Sheet,1.020000e+10,-4.150000e+08,2.510000e+10,2.720000e+10,2.100000e+09,...,-20300000000,4600000000,120300000000,0,0,111500000000,111500000000,5.900000e+09,NaN,0

1- What is the average of Cash across all observations?

In [6]:
data.Cash.mean()

1762267160.1960785

In [8]:
data.mean().Cash

1762267160.1960785

2- Using hirearchical indexing, what is the average of Cash per Industry?

In [15]:
data.set_index('Industry').Cash.mean(level='Industry')

Industry
Transportation       6.879578e+08
Technology           3.248366e+09
Public Utilities     2.122944e+09
Capital Goods        2.778978e+09
Finance              5.223418e+07
Consumer Services    1.682941e+09
Name: Cash, dtype: float64

3- Using hirearchical indexing, what is the average of Cash per Industry and Year?

In [47]:
res=data.set_index(['Industry', 'Year']).Cash.mean(level=['Year', 'Industry'])
res

Year  Industry
2013  Transportation       8.391607e+08
2014  Transportation       6.225001e+08
2015  Transportation       6.101110e+08
2013  Technology           2.746511e+09
2014  Technology           3.219600e+09
2015  Technology           3.727844e+09
2013  Public Utilities     3.140372e+09
2014  Public Utilities     1.987169e+09
2015  Public Utilities     1.276374e+09
2013  Capital Goods        2.905749e+09
2014  Capital Goods        2.584066e+09
2015  Capital Goods        2.854079e+09
2013  Finance              4.983160e+07
2014  Finance              4.952483e+07
2015  Finance              5.744286e+07
2013  Consumer Services    1.618581e+09
2014  Consumer Services    1.675891e+09
2015  Consumer Services    1.744988e+09
Name: Cash, dtype: float64

In [24]:
res.unstack('Year')

Year                       2013          2014          2015
Industry
Capital Goods      2.905749e+09  2.584066e+09  2.854079e+09
Consumer Services  1.618581e+09  1.675891e+09  1.744988e+09
Finance            4.983160e+07  4.952483e+07  5.744286e+07
Public Utilities   3.140372e+09  1.987169e+09  1.276374e+09
Technology         2.746511e+09  3.219600e+09  3.727844e+09
Transportation     8.391607e+08  6.225001e+08  6.101110e+08

4- Assuming entries of `0` are missing data, replace these entries with NaN

In [33]:
data['Cash2'] = data.Cash.replace(0, np.nan)

5- Do you answers of 1, 2, 3 change?

In [ ]:
data.Cash.mean()

In [ ]:
data.Cash2.mean()

In [37]:
data.Cash2.dropna().mean()

2024225792.1171172

In [41]:
data.set_index('Industry')[['Cash', 'Cash2']].mean(level='Industry')

                           Cash         Cash2
Industry
Transportation     6.879578e+08  7.125278e+08
Technology         3.248366e+09  3.248366e+09
Public Utilities   2.122944e+09  2.122944e+09
Capital Goods      2.778978e+09  2.778978e+09
Finance            5.223418e+07  2.018139e+08
Consumer Services  1.682941e+09  1.682941e+09

In [48]:
res2=data.set_index(['Industry', 'Year'])[['Cash', 'Cash2']].mean(level=['Year', 'Industry'])

In [49]:
res2.unstack('Year')

                           Cash                                     Cash2  \
Year                       2013          2014          2015          2013
Industry
Capital Goods      2.905749e+09  2.584066e+09  2.854079e+09  2.905749e+09
Consumer Services  1.618581e+09  1.675891e+09  1.744988e+09  1.618581e+09
Finance            4.983160e+07  4.952483e+07  5.744286e+07  1.993264e+08
Public Utilities   3.140372e+09  1.987169e+09  1.276374e+09  3.140372e+09
Technology         2.746511e+09  3.219600e+09  3.727844e+09  2.746511e+09
Transportation     8.391607e+08  6.225001e+08  6.101110e+08  8.702407e+08


Year                       2014          2015
Industry
Capital Goods      2.584066e+09  2.854079e+09
Consumer Services  1.675891e+09  1.744988e+09
Finance            1.795275e+08  2.297714e+08
Public Utilities   1.987169e+09  1.276374e+09
Technology         3.219600e+09  3.727844e+09
Transportation     6.447322e+08  6.311493e+08

In [50]:
_.columns

MultiIndex(levels=[['Cash', 'Cash2'], [2013, 2014, 2015]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]],
           names=[None, 'Year'])

6- Replace missing values with the average Cash per Industry, and re-answer 1, 2, 3

In [79]:
data1.set_index('Industry').Cash2.mean(level='Industry')

Industry
Transportation       7.125278e+08
Technology           3.248366e+09
Public Utilities     2.122944e+09
Capital Goods        2.778978e+09
Finance              2.018139e+08
Consumer Services    1.682941e+09
Name: Cash2, dtype: float64

In [66]:
replacement=data.set_index('Industry').Cash2.mean(level='Industry')

In [70]:
data2 = data.set_index('Industry')

In [71]:
data2['Cash3'] = data.set_index('Industry').Cash2.fillna(replacement)

In [80]:
data2[['Cash', 'Cash2', 'Cash3']].mean()

Cash     1.762267e+09
Cash2    2.024226e+09
Cash3    1.798074e+09
dtype: float64

In [ ]:
#data2['Cash'] = data2['Cash2']

In [ ]:
#data2.drop('Cash2', axis='columns')

7- Extract the subsample of observations related to `GOOGL`, `AAPL`, and `MSFT`

In [86]:
subset1 = data[ (data.Ticker == 'GOOGL') | (data.Ticker == 'AAPL') | (data.Ticker == 'MSFT')   ]

In [88]:
new_data=data.set_index('Ticker')

In [93]:
new_data.loc[ ['GOOGL', 'AAPL', 'MSFT'], : ]

,Name,Industry,Year,Financial Statement,Cash,Short Term Investment Cash,Cash & Short Term Investments,Accounts Receivables,Inventories,Other Current Assets,...,Other Liabilities.1,Total Liabilities,Minority Interest (Equity),Preferred Stock (Equity),Common Equity,Total Shareholder Equity,Common Shares Outstanding,Prepaid Expenses,Cash Due From Banks (Asset),Cash2
Ticker,,,,,,,,,,,,,,,,,,,,,
GOOGL,Alphabet Inc.,Technology,2013,Balance Sheet,9.900000e+09,4.100000e+09,5.870000e+10,9.400000e+09,4.260000e+08,4.400000e+09,...,3400000000,23600000000,0,0,87300000000,87300000000,6.710000e+08,0.0,0,9.900000e+09
GOOGL,Alphabet Inc.,Technology,2014,Balance Sheet,1.600000e+10,-5.510000e+08,6.440000e+10,1.160000e+10,0.000000e+00,4.700000e+09,...,4500000000,26600000000,0,0,104500000000,104500000000,6.802000e+08,0.0,0,1.600000e+10
GOOGL,Alphabet Inc.,Technology,2015,Balance Sheet,1.450000e+10,-1.800000e+09,7.310000e+10,1.390000e+10,0.000000e+00,3.100000e+09,...,5500000000,27100000000,0,0,120300000000,120300000000,6.873000e+08,0.0,0,1.450000e+10
AAPL,Apple Inc.,Technology,2013,Balance Sheet,8.700000e+09,3.500000e+09,4.050000e+10,2.060000e+10,1.800000e+09,1.030000e+10,...,3700000000,83500000000,0,0,123500000000,123500000000,6.300000e+09,NaN,0,8.700000e+09
AAPL,Apple Inc.,Technology,2014,Balance Sheet,1.020000e+10,-4.150000e+08,2.510000e+10,2.720000e+10,2.100000e+09,1.410000e+10,...,4600000000,120300000000,0,0,111500000000,111500000000,5.900000e+09,NaN,0,1.020000e+10
AAPL,Apple Inc.,Technology,2015,Balance Sheet,1.910000e+10,7.300000e+09,4.160000e+10,3.030000e+10,2.300000e+09,1.510000e+10,...,9400000000,171100000000,0,0,119400000000,119400000000,5.600000e+09,NaN,0,1.910000e+10
MSFT,Microsoft Corp.,Technology,2013,Balance Sheet,2.000000e+09,-3.100000e+09,7.700000e+10,1.750000e+10,1.900000e+09,5.000000e+09,...,290000000,63500000000,0,0,78900000000,78900000000,8.300000e+09,0.0,0,2.000000e+09
MSFT,Microsoft Corp.,Technology,2014,Balance Sheet,8.700000e+09,4.900000e+09,8.570000e+10,1.950000e+10,2.700000e+09,6.300000e+09,...,1000000000,82600000000,0,0,89800000000,89800000000,8.200000e+09,0.0,0,8.700000e+09
MSFT,Microsoft Corp.,Technology,2015,Balance Sheet,4.800000e+09,-3.100000e+09,9.650000e+10,1.790000e+10,2.900000e+09,7.400000e+09,...,1200000000,96100000000,0,0,80100000000,80100000000,8.000000e+09,0.0,0,4.800000e+09

8- Save this subsample to a new Excel file

In [98]:
subset1.to_excel('subsuet.xlsx', sheet_name='sheet2')

9- Collect your trophy as a master data ninja