In [1]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv('../data/gapminder_with_missing.tsv', sep='\t')

In [4]:
data.head()

   Unnamed: 0      country continent  year  lifeExp       pop   gdpPercap
0           0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1           1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2           2  Afghanistan      Asia  1962   31.997  10267083   -1.000000
3           3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4           4  Afghanistan      Asia  1972   36.088  13079460  739.981106

In [5]:
data.gdpPercap.mean()

6833.852739445185

In [7]:
data['gdpPercap2'] = data.gdpPercap.replace(-1, np.nan)

In [9]:
data.head()

,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,gdpPercap2
0,0,Afghanistan,Asia,1952,28.801,8425333,779.445314,779.445314
1,1,Afghanistan,Asia,1957,30.332,9240934,820.853030,820.853030
2,2,Afghanistan,Asia,1962,31.997,10267083,-1.000000,NaN
3,3,Afghanistan,Asia,1967,34.020,11537966,836.197138,836.197138
4,4,Afghanistan,Asia,1972,36.088,13079460,739.981106,739.981106

In [16]:
avg_gdp=data.gdpPercap2.mean()
avg_gdp

7201.590641938526

In [13]:
data['gdpPercap3']=data.gdpPercap.replace(-1, avg_gdp)

In [14]:
data.head()

,Unnamed: 0,country,continent,year,lifeExp,pop,gdpPercap,gdpPercap2,gdpPercap3
0,0,Afghanistan,Asia,1952,28.801,8425333,779.445314,779.445314,779.445314
1,1,Afghanistan,Asia,1957,30.332,9240934,820.853030,820.853030,820.853030
2,2,Afghanistan,Asia,1962,31.997,10267083,-1.000000,NaN,7201.590642
3,3,Afghanistan,Asia,1967,34.020,11537966,836.197138,836.197138,836.197138
4,4,Afghanistan,Asia,1972,36.088,13079460,739.981106,739.981106,739.981106

In [15]:
data.gdpPercap3.mean()

7201.590641938512

In [19]:
replacement = data.set_index('country').gdpPercap2.mean(level='country')

In [27]:
data = data.set_index('country')

In [30]:
data['gdpPercap3']= data.gdpPercap2.fillna(replacement)

In [31]:
data.head()

,Unnamed: 0,continent,year,lifeExp,pop,gdpPercap,gdpPercap2,gdpPercap3
country,,,,,,,,
Afghanistan,0,Asia,1952,28.801,8425333,779.445314,779.445314,779.445314
Afghanistan,1,Asia,1957,30.332,9240934,820.853030,820.853030,820.853030
Afghanistan,2,Asia,1962,31.997,10267083,-1.000000,NaN,798.090406
Afghanistan,3,Asia,1967,34.020,11537966,836.197138,836.197138,836.197138
Afghanistan,4,Asia,1972,36.088,13079460,739.981106,739.981106,739.981106