Using the FT Global 500 data in the file ```FTGlobal.xls```:

1. Extract three clusters from the top 20 companies by market value that have complete data for each row. Use the following features: `Value`, `Turnover`, `Income`,    `Assets`,     `PE`,  `Yield`
2. Group the data by cluster and calculate the mean of the features
3. What do the clusters mean?

In [7]:
import pandas as pd

In [8]:
data=pd.read_excel('../data/FTGlobal.xls', skiprows=4)

In [9]:
data.columns

Index(['Global rank 2015', 'Global rank 2014', 'Company', 'Country',
       'Market value $m', 'Sector', 'Turnover $m', 'Net income $m',
       'Total assets $m', 'Employees', 'Price $', 'P/e ratio',
       'Dividend yield (%)', 'Year End '],
      dtype='object')

In [10]:
cols = ['Market value $m', 'Turnover $m', 'Net income $m', 'Total assets $m', 'P/e ratio', 'Dividend yield (%)']

In [13]:
data[cols].dtypes

Market value $m       float64
Turnover $m            object
Net income $m         float64
Total assets $m       float64
P/e ratio             float64
Dividend yield (%)    float64
dtype: object

In [19]:
data['Turnover $m'] = pd.to_numeric(data['Turnover $m'], errors='coerce')

In [22]:
data=data.dropna()

In [27]:
data=data.sort_values('Market value $m', ascending=False).iloc[:20]

In [28]:
X=data[cols]

In [29]:
X.head()

,Market value $m,Turnover $m,Net income $m,Total assets $m,P/e ratio,Dividend yield (%)
0,724773.1,182795.00,39510.00,231839.00,19.291473,1.454633
1,356548.7,364763.00,32520.00,349493.00,11.198946,3.176471
4,333524.8,86833.00,22074.00,172384.00,15.458175,2.754889
5,329715.1,367853.67,17268.62,385177.72,12.300000,3.613369
7,279723.9,74331.00,16323.00,127723.00,17.649123,2.743539

In [30]:
from sklearn.cluster import KMeans

In [31]:
kmeans = KMeans(n_clusters=3)
kmeans.fit(X)
y_kmeans = kmeans.predict(X)
data['cluster']=y_kmeans

In [32]:
y_kmeans

array([0, 2, 1, 2, 1, 1, 1, 2, 2, 1, 2, 1, 1, 1, 1, 1, 1, 1, 2, 1])

In [35]:
data.groupby('cluster')[cols].mean()

,Market value $m,Turnover $m,Net income $m,Total assets $m,P/e ratio,Dividend yield (%)
cluster,,,,,,
0,724773.100000,182795.000000,39510.000000,231839.000000,19.291473,1.454633
1,235322.939231,90458.180769,13816.176923,159471.662308,18.631443,2.836124
2,272034.208333,333574.291667,18775.128333,388234.150000,13.771912,3.526295

In [38]:
data[data.cluster==0].Company

0    Apple
Name: Company, dtype: object

In [40]:
data[data.cluster==1].Company

4                  Microsoft
7          Johnson & Johnson
9                   Novartis
10              China Mobile
13                    Nestle
15                     Roche
17          Procter & Gamble
18       Samsung Electronics
19                    Pfizer
21    Verizon Communications
22                   Chevron
24      Anheuser-Busch InBev
27                    Oracle
Name: Company, dtype: object

In [41]:
data[data.cluster==2].Company

1           Exxon Mobil
5            PetroChina
11      Wal-Mart Stores
12     General Electric
14         Toyota Motor
25    Royal Dutch Shell
Name: Company, dtype: object

In [39]:
#data.groupby('cluster').Company