In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/EC2000.csv.gz')

In [3]:
data2 = data.drop('index', axis='columns')

In [4]:
data3 = data2.rename({'fName':'company'}, axis='columns')

In [5]:
last_three_cols = data3.columns[-3:]

In [6]:
data4 = data3.drop(last_three_cols, axis='columns')

In [7]:
data4.head()

,id,text,date,company,sector
0,32934,"Zoe's Kitchen, Inc. (NYSE:ZOES)\nQ2 2015 Earni...",2015-08-28 00:11:00,"Zoe's Kitchen, Inc.",Consumer Services
1,32905,"Autodesk, Inc. (NASDAQ:ADSK)\nQ2 2016 Earnings...",2015-08-28 00:07:00,"Autodesk, Inc.",Technology
2,32926,Smith & Wesson Holding Corp. (NASDAQ:SWHC)\nQ1...,2015-08-27 23:25:00,Smith & Wesson Holding Corporation,Capital Goods
3,32930,"Ulta Salon, Cosmetics & Fragrance, Inc. (NASDA...",2015-08-27 23:09:00,"Ulta Salon, Cosmetics & Fragrance, Inc.",Consumer Services
4,32907,Splunk Inc. (NASDAQ:SPLK)\nQ2 2016 Earnings Co...,2015-08-27 22:56:00,Splunk Inc.,Technology

## extract tickers and stock markets from text

In [16]:
data4.head().text.str.findall("\(\w+:").str.get(0)

0      (NYSE:
1    (NASDAQ:
2    (NASDAQ:
3    (NASDAQ:
4    (NASDAQ:
Name: text, dtype: object

In [18]:
data4.head().text.str.extract("\((\w+):")

        0
0    NYSE
1  NASDAQ
2  NASDAQ
3  NASDAQ
4  NASDAQ

In [22]:
data4.head().text.str.findall("\(\w+:\w+\)").str.get(0)

0      (NYSE:ZOES)
1    (NASDAQ:ADSK)
2    (NASDAQ:SWHC)
3    (NASDAQ:ULTA)
4    (NASDAQ:SPLK)
Name: text, dtype: object

In [25]:
data4.head().text.str.extract("\((\w+):\w+\)")

        0     1
0    NYSE  ZOES
1  NASDAQ  ADSK
2  NASDAQ  SWHC
3  NASDAQ  ULTA
4  NASDAQ  SPLK

In [24]:
data4.head().text.str.extract("\(\w+:(\w+)\)")

      0
0  ZOES
1  ADSK
2  SWHC
3  ULTA
4  SPLK

In [27]:
stock_ticker = data4.text.str.extract("\((\w+):(\w+)\)")

In [29]:
stock_ticker.columns = ['Market', 'Ticker']

In [33]:
data5 = pd.merge(data4, stock_ticker, left_index=True, right_index=True)

In [34]:
data5.head()

,id,text,date,company,sector,Market,Ticker
0,32934,"Zoe's Kitchen, Inc. (NYSE:ZOES)\nQ2 2015 Earni...",2015-08-28 00:11:00,"Zoe's Kitchen, Inc.",Consumer Services,NYSE,ZOES
1,32905,"Autodesk, Inc. (NASDAQ:ADSK)\nQ2 2016 Earnings...",2015-08-28 00:07:00,"Autodesk, Inc.",Technology,NASDAQ,ADSK
2,32926,Smith & Wesson Holding Corp. (NASDAQ:SWHC)\nQ1...,2015-08-27 23:25:00,Smith & Wesson Holding Corporation,Capital Goods,NASDAQ,SWHC
3,32930,"Ulta Salon, Cosmetics & Fragrance, Inc. (NASDA...",2015-08-27 23:09:00,"Ulta Salon, Cosmetics & Fragrance, Inc.",Consumer Services,NASDAQ,ULTA
4,32907,Splunk Inc. (NASDAQ:SPLK)\nQ2 2016 Earnings Co...,2015-08-27 22:56:00,Splunk Inc.,Technology,NASDAQ,SPLK

## are there any emails in the text

In [64]:
email_pattern = "[\w\.]+@\w+\.\w+"

In [65]:
emails = data5.text.str.findall(email_pattern)

In [66]:
emails[emails.str.len() > 0]

75                            [rtoll@tollbrothersinc.com]
94      [ir@ltbridge.com, ir@ltbridge.com, ir@ltbridge...
105                             [investor@salesforce.com]
115                                       [ir@immomo.com]
254                             [avogel@cytosorbents.com]
273                                   [ir@ultragenyx.com]
348                                          [ir@yod.com]
361                               [ir@orientpaperinc.com]
409                             [info@alexcoresource.com]
462                    [ir@cyclacel.com, ir@cyclacel.com]
563                                        [ir@ricks.com]
620      [info@fortunasilver.com, info@fortunasilver.com]
713                                       [agys@jcir.com]
858                              [questions@entercom.com]
894     [ir@odysseymarine.com, ir@odysseymarine.com, i...
982     [mtraveline@sjindustries.com, aanthony@sjindus...
1014                             [ir@capstoneturbine.com]
1070             [mlowe@esperion.com, mlowe@esperion.com]
1416                            [david.poplar@wendys.com]
1546                              [tross@finprofiles.com]
1582                              [investor@j2global.com]
1634                        [ngoc.nguyen@hawaiiantel.com]
1665                                [lgodfrey@vnrllc.com]
1688                      [investor.relations@sprint.com]
1711                                         [ir@kvh.com]
1931                                [susan.hardy@crl.com]
1958                                         [ir@umc.com]
1972                                 [jcrivelli@bokf.com]
Name: text, dtype: object

In [67]:
data5['emails']=emails

## extract these emails

In [68]:
data5.head()

,id,text,date,company,sector,Market,Ticker,emails
0,32934,"Zoe's Kitchen, Inc. (NYSE:ZOES)\nQ2 2015 Earni...",2015-08-28 00:11:00,"Zoe's Kitchen, Inc.",Consumer Services,NYSE,ZOES,[]
1,32905,"Autodesk, Inc. (NASDAQ:ADSK)\nQ2 2016 Earnings...",2015-08-28 00:07:00,"Autodesk, Inc.",Technology,NASDAQ,ADSK,[]
2,32926,Smith & Wesson Holding Corp. (NASDAQ:SWHC)\nQ1...,2015-08-27 23:25:00,Smith & Wesson Holding Corporation,Capital Goods,NASDAQ,SWHC,[]
3,32930,"Ulta Salon, Cosmetics & Fragrance, Inc. (NASDA...",2015-08-27 23:09:00,"Ulta Salon, Cosmetics & Fragrance, Inc.",Consumer Services,NASDAQ,ULTA,[]
4,32907,Splunk Inc. (NASDAQ:SPLK)\nQ2 2016 Earnings Co...,2015-08-27 22:56:00,Splunk Inc.,Technology,NASDAQ,SPLK,[]