In [5]:
#uncomment and run to install spacy
import sys
!{sys.executable} -m pip install spacy
#!{sys.executable} -m spacy download en

In [6]:
import pandas as pd
import spacy

# Named entity extraction

In [21]:
article = "In the Kingdom of Python, Hani Safadi is king"

In [20]:
article = """Moulton says Biden was wrong to vote in favor of Iraq War resolution in 2002

Updated 1:05 PM ET, Sun June 2, 2019
Washington (CNN) - Former Vice President Joe Biden was wrong to vote in favor of authorizing the use of military force against Iraq in 2002 when he was a senator, Democratic presidential candidate and Iraq War veteran Seth Moulton said in an interview that aired Sunday.

"It was a mistake. Because we should've been a lot more careful about going into Iraq. We should have questioned the intelligence. We should have made sure that we exhausted every opportunity before we put young American lives in danger," Moulton, who represents Massachusetts in the House, told CNN's Jake Tapper on "State of the Union" when pressed about Biden's decision to vote in favor of the US going to war in Iraq.

Biden, who is also a Democratic presidential candidate, has faced criticism for his support of the war, though he later became a vocal critic of the conflict. In 2002, then a senator from Delaware, Biden voted in favor of the Iraq War resolution, which authorized President George W. Bush to attack Iraq if Saddam Hussein refused to give up weapons of mass destruction as required by UN resolutions. The Senate passed the resolution in a 77-23 vote, with support from both sides of the aisle.

The intelligence used by the Bush administration that claimed Iraq possessed weapons of mass destruction has since been discredited, and support for the war has declined in the years since it began.

CNN has reached out to the Biden campaign for comment.

Moulton is not alone in his criticism of Biden's support for the Iraq War resolution. Vermont Sen. Bernie Sanders, who is also a 2020 presidential candidate, frequently draws a contrast between himself and the former vice president by noting that he voted against the resolution in 2002.

Moulton told Tapper that he respects Biden, calling him "a mentor and a friend," but added that he thinks "it's time for the generation that fought in Iraq and Afghanistan to step in for the generation that sent us there." """

In [32]:
#d1 = nlp("Time flies like an arrow")

In [33]:
#list(d1.noun_chunks)

In [34]:
#for token in d1:
#    print(token.text, token.pos_, token.dep_)

In [22]:
nlp = spacy.load('en_core_web_sm')

In [23]:
doc = nlp(article)

In [24]:
for ent in doc.ents:
    print(ent.text, ent.label_)

the Kingdom of Python GPE
Hani Safadi PERSON

[List of all named entities](https://spacy.io/api/annotation#named-entities)

# Extract `MONEY` and `PRODUCT` from the first earning call

In [36]:
data = pd.read_csv('../data/EC2000.csv.gz')

1- drop first column index, rename fName to company, drop the last three columns

In [37]:
data2 = data.drop('index', axis='columns')

In [38]:
data3 = data2.rename({'fName':'company'}, axis='columns')

In [39]:
last_three_cols = data3.columns[-3:]

In [40]:
data4 = data3.drop(last_three_cols, axis='columns')

In [41]:
data4.head()

,id,text,date,company,sector
0,32934,"Zoe's Kitchen, Inc. (NYSE:ZOES)\nQ2 2015 Earni...",2015-08-28 00:11:00,"Zoe's Kitchen, Inc.",Consumer Services
1,32905,"Autodesk, Inc. (NASDAQ:ADSK)\nQ2 2016 Earnings...",2015-08-28 00:07:00,"Autodesk, Inc.",Technology
2,32926,Smith & Wesson Holding Corp. (NASDAQ:SWHC)\nQ1...,2015-08-27 23:25:00,Smith & Wesson Holding Corporation,Capital Goods
3,32930,"Ulta Salon, Cosmetics & Fragrance, Inc. (NASDA...",2015-08-27 23:09:00,"Ulta Salon, Cosmetics & Fragrance, Inc.",Consumer Services
4,32907,Splunk Inc. (NASDAQ:SPLK)\nQ2 2016 Earnings Co...,2015-08-27 22:56:00,Splunk Inc.,Technology

In [42]:
text1 = data4.iloc[0].text

In [45]:
doc = nlp(text1)

In [58]:
s = pd.Series()

In [62]:
for ent in doc.ents:
    s[ent.text] = ent.label_

In [60]:
s.head()

Zoe                PERSON
Kitchen, Inc.         ORG
NYSE                  ORG
Q2                 PERSON
August 27, 2015      DATE
dtype: object

In [66]:
df = pd.DataFrame(s)

In [69]:
df = df.reset_index()

In [70]:
df.columns= ['entity', 'type']

In [71]:
df.head()

            entity    type
0              Zoe  PERSON
1    Kitchen, Inc.     ORG
2             NYSE     ORG
3               Q2  PERSON
4  August 27, 2015    DATE

In [75]:
grpus = df.groupby('type').entity.apply(list)

In [76]:
grpus

type
CARDINAL    [Seven, one, One, Hundreds, four, seven, 151, ...
DATE        [August 27, 2015, today, August 27, 2015, toda...
GPE         [Cherry Hill, New Jersey, Denver, Colorado, Ja...
LAW                                [Act of God, the JOBS Act]
LOC                                           [Mediterranean]
MONEY       [two marks, $54.5 million, $41.9 million, $54....
NORP                       [Broker, Southern, Avian, 13%-ish]
ORDINAL                          [Second, 20th, first, third]
ORG         [Kitchen, Inc., NYSE, Accounting & Controller,...
PERCENT     [over 30%, 5.6%, over 28%, approximately 75%, ...
PERSON      [Zoe, Q2, James Besch - CFO, Kevin Miles - Pre...
PRODUCT                                                [R&M.]
TIME                              [5:00 pm, afternoon, 39:17]
Name: entity, dtype: object

In [77]:
grpus.MONEY

['two marks',
 '$54.5 million',
 '$41.9 million',
 '$54.4 million',
 '$41.8 million',
 'approximately $230,000',
 '$11.6 million',
 '$8.8 million',
 '$1.8 million to $6.3 million',
 '$4.5 million',
 'approximately $550,000',
 'approximately $180,000',
 'approximately $100,000',
 '142,000',
 '$700 million',
 'approximately $500,000',
 '637,000',
 '442,000',
 'approximately $2.7 million',
 'approximately $800,000',
 'approximately $710,000',
 '620,000',
 'approximately $750,000',
 '871,000',
 '124,000',
 '120,000',
 '0.01',
 '$1.1 million',
 '0.06',
 '$19.6 million',
 '$19.5 million',
 '955,000',
 '0.05',
 '705,000',
 '0.04',
 'between $220 million and $224 million',
 'approximately $200,000',
 'between $25.3 million and $25.5 million',
 '550,000',
 '$25.3 million',
 '$25.5 million',
 '$1.3 million']