In [1]:
import pandas as pd

Download the EY DuPont Excel Spreadsheet from eLC `Analytics_mindset_case_studies_DuPont`

Load the spreadsheet into pandas

In [4]:
data1 = pd.read_excel('~/Downloads/Analytics_mindset_case_studies_DuPont.xls', sheet_name='Balance Sheet Data')

In [8]:
data1.shape

(523, 33)

In [9]:
data1.dtypes

Ticker                                  object
Name                                    object
Industry                                object
Year                                     int64
Financial Statement                     object
Cash                                   float64
Short Term Investment Cash             float64
Cash & Short Term Investments          float64
Accounts Receivables                   float64
Inventories                            float64
Other Current Assets                   float64
Total Current Assets                   float64
Gross Property, Plant and Equipment    float64
Total Depreciation                     float64
Intangible Assets                      float64
Total Other Assets                     float64
Total Assets                             int64
Accounts Payable                         int64
Short Term Debt                        float64
Accrued Expenses (Liability)           float64
Other Current Liabilities                int64
Other Liabilities                      float64
Long Term Debt                           int64
Deferred Taxes (Liability)               int64
Other Liabilities.1                      int64
Total Liabilities                        int64
Minority Interest (Equity)               int64
Preferred Stock (Equity)                 int64
Common Equity                            int64
Total Shareholder Equity                 int64
Common Shares Outstanding              float64
Prepaid Expenses                       float64
Cash Due From Banks (Asset)              int64
dtype: object

In [6]:
data1.head()

,Ticker,Name,Industry,Year,Financial Statement,Cash,Short Term Investment Cash,Cash & Short Term Investments,Accounts Receivables,Inventories,...,Deferred Taxes (Liability),Other Liabilities.1,Total Liabilities,Minority Interest (Equity),Preferred Stock (Equity),Common Equity,Total Shareholder Equity,Common Shares Outstanding,Prepaid Expenses,Cash Due From Banks (Asset)
0,AAL,American Airlines Group Inc.,Transportation,2013,Balance Sheet,2.200000e+09,6.600000e+08,1.030000e+10,1.600000e+09,1.000000e+09,...,0,5300000000,45000000000,0,0,-2700000000,-2700000000,2.611000e+08,0.0,0
1,AAL,American Airlines Group Inc.,Transportation,2014,Balance Sheet,2.700000e+09,-1.460000e+08,8.100000e+09,1.800000e+09,1.000000e+09,...,0,3400000000,41800000000,0,0,2000000000,2000000000,6.975000e+08,0.0,0
2,AAL,American Airlines Group Inc.,Transportation,2015,Balance Sheet,2.100000e+09,-6.830000e+08,6.900000e+09,1.400000e+09,8.630000e+08,...,-2500000000,2500000000,42800000000,0,0,5600000000,5600000000,6.246000e+08,0.0,0
3,AAPL,Apple Inc.,Technology,2013,Balance Sheet,8.700000e+09,3.500000e+09,4.050000e+10,2.060000e+10,1.800000e+09,...,-16500000000,3700000000,83500000000,0,0,123500000000,123500000000,6.300000e+09,NaN,0
4,AAPL,Apple Inc.,Technology,2014,Balance Sheet,1.020000e+10,-4.150000e+08,2.510000e+10,2.720000e+10,2.100000e+09,...,-20300000000,4600000000,120300000000,0,0,111500000000,111500000000,5.900000e+09,NaN,0

1- How many companies are listed in the data

2- What is the year range, i.e., first and last year in the data

3- Extract the rows of data about Google `GOOG`

4- Extract rows in which Total Assets are between 10 million and 100 million dollars

5- Extract the names of companies that have the keyworkd `airlines`

6- Calculate the ratio of Cash to Inventories in each row