In [1]:
# install beautifulsoup for the first time if not there
#!conda install BeautifulSoup4
#!pip install BeautifulSoup4

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [87]:
html="""<html>
    <head>
        <title>
            This is an example page
        </title>
    </head>
    <body>
        Here is the content of the page
        <p>
            One paragraph
        </p>
        <li> one </li>
        <li> two </li>
        <table>
            <tr>
                <td>col 1</td>
                <td>col 2</td>
            </tr>
            <tr>
                <td>val 1</td>
                <td>val 2</td>
            </tr>
        </table>
        End of body
    </body>
</html>"""

In [106]:
soup = BeautifulSoup(html, 'html')

In [107]:
def print_html_tree(tag,level = 0):
    print('\t'*level + tag.name)
    for child in tag.findChildren():
        print_html_tree(child, level+1)

In [109]:
#print_html_tree(soup.currentTag)

Extract names and titles of [MIS Faulty at UGA](https://www.terry.uga.edu/directory/mis/)

How many assistant professors are there?

In [3]:
r = requests.get("https://www.terry.uga.edu/directory/mis")

In [4]:
r.status_code

200

In [5]:
html = r.text

In [7]:
type(html)

str

In [8]:
soup = BeautifulSoup(html, 'html')

In [63]:
names = soup.find_all('td', id="name")

In [64]:
titles = soup.find_all('td', id="title")

In [65]:
names[0].text

'Dale Louis Goodhue'

In [66]:
len(names) == len(titles)

True

In [67]:
# assemble the data
res = []
for i in range(len(names)):
    entry = {'Name': names[i].text.strip(), 'Title': titles[i].text.strip()}
    res.append(entry)

In [68]:
len(res)

33

In [69]:
data = pd.DataFrame(res)

In [70]:
data.head()

,Name,Title
0,Dale Louis Goodhue,Professor Emeritus
1,Kadianne Francis,Academic Advisor II
2,Weifeng Li,Assistant Professor
3,Timothy (Tim) Chester,Adjunct Instructor
4,Richard (Rick) Thomas Watson,J. Rex Fuqua Distinguished Chair for Internet ...

In [71]:
sum(data.Title == 'Assistant Professor')

6

## Exercise

Extract the names, parties and states of [the US Senate](https://www.congress.gov/members?pageSize=100&q={%22congress%22:%22116%22,%22chamber%22:%22Senate%22})

What are the states that have R and D senators?

In [72]:
r = requests.get('https://www.congress.gov/members?pageSize=100&q={%22congress%22:%22116%22,%22chamber%22:%22Senate%22')

In [73]:
r.status_code

200

In [74]:
html = r.text

In [75]:
soup = BeautifulSoup(html, 'html')

In [76]:
# extract members data
members = soup.find_all('li', class_="expanded")

In [77]:
# one member
m=members[0]

In [78]:
m

<li class="expanded"> <div><span class="visualIndicator">MEMBER</span></div>
    1.
    <span class="result-heading"><a href="https://www.congress.gov/member/james-abdnor/A000009">Senator Abdnor, James</a></span>
<div class="quick-search-member">
<div class="member-image"><img alt="Abdnor, James" src="/img/member/a000009_200.jpg"/></div>
<div class="member-profile member-image-exists">
<span class="result-item">
<strong>State:</strong>
<span>South Dakota</span>
</span>
<span class="result-item">
<strong>Party:</strong>
<span>Republican</span>
</span>
<span class="result-item">
<strong>Served:</strong>
<span>
<ul class="member-served">
<li>Senate: 1981-1987</li> <li>House: 1973-1981</li> </ul>
</span>
</span>
</div>
<div class="clear"></div>
</div>
</li>

In [79]:
# extract the name
name = m.find("span", class_="result-heading").text
name

'Senator Abdnor, James'

In [80]:
# the remaining items are
m.find_all("span", class_="result-item")

[<span class="result-item">
 <strong>State:</strong>
 <span>South Dakota</span>
 </span>, <span class="result-item">
 <strong>Party:</strong>
 <span>Republican</span>
 </span>, <span class="result-item">
 <strong>Served:</strong>
 <span>
 <ul class="member-served">
 <li>Senate: 1981-1987</li> <li>House: 1973-1981</li> </ul>
 </span>
 </span>]

In [81]:
# extract state and party
state = m.find_all("span", class_="result-item")[0].find('span').text
party = m.find_all("span", class_="result-item")[1].find('span').text

In [82]:
name, state, party

('Senator Abdnor, James', 'South Dakota', 'Republican')

In [87]:
# can you repeat the above process for all members
# assemble data and answer the question