In [2]:
# install beautifulsoup for the first time if not there
#!conda install BeautifulSoup4
#!pip3 install BeautifulSoup4

In [35]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

Extract names and titles of [MIS Faulty at UGA](https://www.terry.uga.edu/directory/mis/)

How many assistant professors are there?

In [4]:
r = requests.get("https://www.terry.uga.edu/directory/mis")

In [5]:
r.status_code

200

In [6]:
html = r.text

In [11]:
type(html)

str

In [13]:
soup = BeautifulSoup(html, 'html')

In [24]:
names = soup.find_all('td', id="name")

In [25]:
titles = soup.find_all('td', id="title")

In [27]:
names[0].text

'Dale Louis Goodhue'

In [28]:
len(names) == len(titles)

True

In [38]:
# assemble the data
res = []
for i in range(len(names)):
    entry = {'Name': names[i].text.strip(), 'Title': titles[i].text.strip()}
    res.append(entry)

In [39]:
len(res)

33

In [40]:
data = pd.DataFrame(res)

In [41]:
data.head()

,Name,Title
0,Dale Louis Goodhue,Professor Emeritus
1,Kadianne Francis,Academic Advisor II
2,Weifeng Li,Assistant Professor
3,Timothy (Tim) Chester,Adjunct Instructor
4,Richard (Rick) Thomas Watson,J. Rex Fuqua Distinguished Chair for Internet ...

In [43]:
sum(data.Title == 'Assistant Professor')

6

## Exercise

Extract the names, parties and states of [the US Senate](https://www.congress.gov/members?pageSize=100&q={%22congress%22:%22116%22,%22chamber%22:%22Senate%22})

What are the states that have R and D senators?

In [50]:
r = requests.get('https://www.congress.gov/members?pageSize=100&q={%22congress%22:%22116%22,%22chamber%22:%22Senate%22')

In [51]:
r.status_code

200

In [52]:
html = r.text

In [53]:
soup = BeautifulSoup(html, 'html')

In [79]:
# extract members data
members = soup.find_all('li', class_="expanded")

In [80]:
# one member
m=members[0]

In [81]:
m

<li class="expanded"> <div><span class="visualIndicator">MEMBER</span></div>
    1.
    <span class="result-heading"><a href="https://www.congress.gov/member/james-abdnor/A000009">Senator Abdnor, James</a></span>
<div class="quick-search-member">
<div class="member-image"><img alt="Abdnor, James" src="/img/member/a000009_200.jpg"/></div>
<div class="member-profile member-image-exists">
<span class="result-item">
<strong>State:</strong>
<span>South Dakota</span>
</span>
<span class="result-item">
<strong>Party:</strong>
<span>Republican</span>
</span>
<span class="result-item">
<strong>Served:</strong>
<span>
<ul class="member-served">
<li>Senate: 1981-1987</li> <li>House: 1973-1981</li> </ul>
</span>
</span>
</div>
<div class="clear"></div>
</div>
</li>

In [82]:
# extract the name
name = m.find("span", class_="result-heading").text
name

'Senator Abdnor, James'

In [83]:
# the remaining items are
m.find_all("span", class_="result-item")

[<span class="result-item">
 <strong>State:</strong>
 <span>South Dakota</span>
 </span>, <span class="result-item">
 <strong>Party:</strong>
 <span>Republican</span>
 </span>, <span class="result-item">
 <strong>Served:</strong>
 <span>
 <ul class="member-served">
 <li>Senate: 1981-1987</li> <li>House: 1973-1981</li> </ul>
 </span>
 </span>]

In [84]:
# extract state and party
state = m.find_all("span", class_="result-item")[0].find('span').text
party = m.find_all("span", class_="result-item")[1].find('span').text

In [86]:
name, state, party

('Senator Abdnor, James', 'South Dakota', 'Republican')

In [87]:
# can you repeat the above process for all members
# assemble data and answer the question